altair==4.1.0
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer==0.4.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
bleach==4.1.0
bokeh==2.3.3
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
chord==0.0.17
colorcet==3.0.0
cycler==0.11.0
dataclasses==0.8
decorator==5.1.0
defusedxml==0.7.1
dfply==0.3.3
entrypoints==0.3
gql==0.1.0
graphql-core==2.2.1
holoviews==1.14.7
idna==2.8
importlib-metadata==4.8.3
ipykernel==5.5.6
ipython==7.16.2
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.1
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.2.1
mistune==0.8.4
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.6
numpy==1.18.1
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
panel==0.12.1
param==1.12.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
plotly==4.7.1
portpicker==1.5.0
prometheus-client==0.12.0
promise==2.2.1
prompt-toolkit==3.0.24
psutil==5.8.0
ptyprocess==0.7.0
pycparser==2.21
pyct==0.4.8
Pygments==2.10.0
pyparsing==3.0.6
pyrsistent==0.18.0
python-dateutil==2.8.2
python-igraph==0.7.1.post6
pytz==2021.3
pyviz-comms==2.1.0
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==1.11.3
requests==2.22.0
retrying==1.3.3
Rx==1.6.1
scikit-learn==0.24.2
scipy==1.5.4
selenium==3.141.0
Send2Trash==1.8.0
six==1.13.0
sklearn==0.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
typing_extensions==4.0.1
urllib3==1.25.7
uuid==1.30
vega==3.5.0
vega-datasets==0.9.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
wordcloud==1.7.0
zipp==3.6.0
